@import '../../../node_modules/bootstrap/scss/bootstrap';

body {
    // background-color: rgb(210, 246, 188);
    font-family: sans-serif;
}

h1 {
    // color: rgb(13, 69, 79);
}

.drop-zone-container {
    height: 150px;
    // background-color: #333;
    border: 1px solid #333;
}
